*{
  margin: 0px;
}
/*SectionOne Start*/
.sectionOne{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  background-image: url(images/banner/banner3.png);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; 
}
.sectionOne .banner{
  margin-left: 750px;
  text-align: end;
  width: 28%;
  color: rgb(255, 255, 255);
}
.sectionOne .banner h3{
  font-size: 3rem;
  line-height: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.sectionOne .banner p{
  margin-top: 20px;
  line-height: 30px;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
}
.sectionOne .btn .contact{
  display: flex;
  padding: 14px 30px;
  margin-left: -184px;
  margin-top: 380px;
  border-radius: 10px;
  color: rgb(27,100,176);
  font-weight: bold;
}
/*Section One End*/
/*Section Two Start*/
.sectionTwo{
  width: 100%;
  height: 600px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/person.png);
  background-position: 25% 75%;
  background-size:contain;
  background-repeat: no-repeat; 
}
.sectionTwo .failure{
  padding-left: 550px;
  padding-top: 190px;
  width: 28%;
  text-align: left;
  color: rgb(0, 0, 0);
}
.sectionTwo .failure h3{
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  font-family:Arial, Helvetica, sans-serif; 
}
.sectionTwo .failure p{
  margin-top: 25px;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
.sectionTwo ul{
  margin-top: 25px;
  margin-left: -40px;
  list-style: none;
  line-height: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  color: rgba(131, 134, 135, 0.8);
}
.sectionTwo ul li i{
  letter-spacing: 1rem;
  color: rgb(0, 128, 0);
}
/* Section Three Start */
.sectionThree{ 
  margin-top: 100px;
  width: 100%;
  height: auto;
  text-align: center;
}
.heading h1{
  font-size: 2.5rem;
  color: rgba(0,0,0);
  font-family:'Times New Roman', Times, serif;
}
.heading p{
  color: rgba(34, 34, 34, 0.4);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0% auto;
  font-size: 1.2rem;
  line-height: 2rem;
}
.plans{
  width: 80%;
  margin: 0% auto;
}
.plan{
  display: flex;
}
.plan h2{
  font-size: 1.5rem;
  color: rgba(34, 34, 34, 0.9);
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
.plan p{
  font-size: 1.4rem;
  color: rgba(119, 119, 119, 0.8);
  font-family: 'Poor Story', cursive;
}
.plan div{
  margin: 50px;
}
/*Section Three End*/
/*Section Four Start*/
.sectionFour{
  margin-top: 100px;
  background-image: url(images/watch.png);
  background-repeat: no-repeat;
  position: relative;
  height: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-size: 68%;
  background-position: 42%;
  
}
.sectionFour .color-overlay h2{
  font-size: 2.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 5px;
  text-align: left;
  margin: 20px 60px;
  color: rgb(255, 255, 255);
}
.color-overlay{
  background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
  border-radius: 8px;
  width: 74%;
  height: 100%;
}
.color-overlay .btn{
  display: flex;
  padding: 15px 30px;
  margin-left: 60px;
  border-radius: 10px;
  color: rgb(27,100,176);
  font-weight: bold;
}
/*Footer Start*/
footer{
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.9);
}
footer div{
  margin: 20px;
}
footer .foot{
  display: flex;
  text-align: left;
  justify-content: center;
  padding: 30px auto;
  margin-top: 20px;
}
.foot .footer1 h3{
 font-size: 2.5rem;
 font-family:'Times New Roman', Times, serif;
}
.foot .footer1 p{
  margin-top: 20px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.foot .footer1 input{
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
}

.foot .footer1 .btn{
  margin-top: 10px;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(13, 108, 210);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

/*Footer End*/
